{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container mt-2">
        
            
                <h1 class="card-title mb-4">Modifier mon mot de passe</h1>
            
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                
                <div class="form-group row mb-2">  {# Réduit espacement global #}
                    {{ form_label(form.currentPassword, null, {'label_attr': {'class': 'col-sm-3 col-form-label mb-1 '}}) }}  {# Label rapproché #}
                    <div class="col-sm-9">
                        {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}  {# Classe custom pour bordure #}
                        {{ form_errors(form.currentPassword) }}
                    </div>
                </div>
                
                <div class="form-group row mb-2">
                    {{ form_label(form.newPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'col-sm-3 col-form-label mb-1'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control custom-border'}}) }}
                        {{ form_errors(form.newPassword.first) }}
                    </div>
                </div>
                
                <div class="form-group row mb-2">
                    {{ form_label(form.newPassword.second, 'Confirmer le nouveau mot de passe', {'label_attr': {'class': 'col-sm-3 col-form-label mb-1'}}) }} 
                    <div class="col-sm-9">
                        {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control custom-border'}}) }}
                        {{ form_errors(form.newPassword.second) }}
                    </div>
                </div>
                
                <div class="text-end">
                    <button type="submit" class="btn btn-primary me-2">Modifier le mot de passe</button>
                    <a href="{{ path('admin') }}" class="btn btn-secondary">Retour à l'administration</a>
                </div>
                
                {{ form_end(form) }}
            </div>
        
    </div>
{% endblock %}